label {
    display: flex;
    flex-direction: column;
    margin: 2vh 10px;
}

button {
    margin: 2vh 10px;
}

.table{
    width: 100%;
    display: flex;
    justify-content: center;
}
.MuiPaper-root {
    width: 95%;
}